<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeiboMonitor.Weibo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WeiboMonitor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeiboMonitor.wbSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WeiboMonitor.Weibo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WeiboMonitor.Weibo>
            <setting name="Interval" serializeAs="String">
                <value />
            </setting>
            <setting name="RestTime" serializeAs="String">
                <value />
            </setting>
        </WeiboMonitor.Weibo>
        <WeiboMonitor.Settings1>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </WeiboMonitor.Settings1>
    </applicationSettings>
    <userSettings>
        <WeiboMonitor.wbSetting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RestTime" serializeAs="String">
                <value>2~6</value>
            </setting>
            <setting name="PageUID" serializeAs="String">
                <value />
            </setting>
        </WeiboMonitor.wbSetting>
        <WeiboMonitor.Weibo>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PageUID" serializeAs="String">
                <value />
            </setting>
        </WeiboMonitor.Weibo>
    </userSettings>
</configuration>